@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/font-awesome/css/font-awesome.min.css";
@import "variables";

html {
    height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}


.header {
    background-color: white;
    z-index:999;
    box-shadow: 0 6px 4px -1px rgba(0, 0, 0, 0.3);
    .slogan{
    margin-top:20px;
    }

    .logo {
        margin-top: 15px;
        .brand {
            font-weight: bold;
            color: #333333;
            font-family: 'Proxima Nova Bold',sans-serif;
            font-size: 16px;
            letter-spacing: 1px;
            margin-top: 15px;

            .navbar-brand img {
                display: inline-block;
            }
        }
        .brand:hover {
            text-decoration: none;
        }
    }

    h2 {
        margin-top:2 0px;
    }
}

/* NAV */

.nav-justified {
  background-color: $navbar-color;
  li  a {
      padding-top: 15px;
      padding-bottom: 5px;
      margin-bottom: 0;
      font-weight: bold;
      color: #777;
      text-align: center;
      background-color: $navbar-color; /* Old browsers */
      border-bottom: 2px solid $navbar-border-bottom-color;
      margin-right:10px;
}
}


@media (min-width:992px) {
    .header {
        width:100%;
        position: fixed;
        top: 0;
        left:0;
        background-color: white;
        height: $header-height;
    }
    .main{
        margin-top: $top-margin-header-height;
    }
}


.main {
    flex: 1 0 auto;
    .map {
        display:none;

        .google-map {
            width: 100%;
            height: 400px;
            border: 0px;
        }
    }
}

ul.menu {
    list-style-type: none;
    margin-left: 20px;
    padding: 0;
    li {
        display: inline-block;

        a {
            display: inline-block;
            color: black;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
            border-bottom: 2px solid #00ccff;
            margin-right:20px;
        }
    }
}

.callmeback {
    max-width:900px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #f9f9f9;
    border-radius: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    margin-top:20px;
    margin-bottom:40px;
}

.footer {
    margin-top: auto;
    z-index: 10;
    height: 5em;

    h2 {
        margin-top: 0px;
    }

    ul {
        list-style-type: none;
        display:inline-block;
    }
}


/* EXAMPLE CSS ENDS */
